body {
    text-align: left;
}

@media screen and (min-width: 48em) {
    body {
        text-align: justify;
    }
}

.navbar {
    border-bottom: #008ed6 3px solid;
}

.row {
    margin: 0px !important;
}



p {
    margin-bottom: 0px !important;
}

#abc {
    font-weight: bolder;
    font-size: 30px;
    font-style: arabic;
    color: rgb(122, 163, 149)
}

#bold {
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 2px 2px black;
    color: rgb(122, 163, 149);
}

#text {
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-top: 5px;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background: url('../img/image4.jpg');
    background-size: cover;
}

.carousel-image-2 {
    background: url('../img/image2.jpg');
    background-size: cover;
}

.carousel-image-3 {
    background: url('../img/image3.jpg');
    background-size: cover;
}

#science {
    position: relative;
    min-height: 200px;
    background: url('../img/science.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

#commerce {
    position: relative;
    min-height: 200px;
    background: url('../img/commerce.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

#arts {
    position: relative;
    min-height: 200px;
    background: url('../img/arts.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#message,
#handle {
    width: 82%;
    height: 40px;
    margin-top: 2px;
}

.panel-collapse {
    border: 1px solid rgb(180, 179, 179);
    padding: 1px;
    height: 350px;
}

.panel-heading {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.heading {
    font-family: 'Comic Sans MS';
    font-style: italic;
    text-shadow: 1px 1px 1px;
    font-size: 20px;
    padding: 4px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
    height: 350px;
}

.c-12 {
    padding: 2px !important;
    margin: 1px;
    margin-left: 0px;
    width: 100%;
}

#output {
    padding: 2px;
    margin: 0px;
    width: 100%;
    height: 300px;
    background-color: #343A40;
    overflow-y: auto;
    overflow-x: auto;
}